*~
*\#*
deepsm/experiments/dataset/dgsm
deepsm/experiments/dataset/topo_map
deepsm/experiments/dataset/cold-groundtruth
deepsm/experiments/results

# Python project
*.egg-info
*.pyc
/dist/
__pycache__