*~
*\#*
deepsm/experiments/dataset/dgsm
deepsm/experiments/dataset/topo_map
deepsm/experiments/dataset/cold-groundtruth
deepsm/experiments/results
deepsm/experiments/analysis/dgsm

# Python project
*.egg-info
*.pyc
/dist/
__pycache__

*tmp*
*.ipynb_checkpoints